<p>
  <b>Name:</b>
  <%=h @milestone.name %>
</p>

<p>
  <b>Category:</b>
  <%= link_to(h(@milestone.milestone_category.name), @milestone.milestone_category) %>
</p>


<p>
  <b>Reward:</b>
  <%=h @milestone.reward %>
</p>


<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>