<h1>New status</h1>

<% form_for(@status) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :child_id %><br />
    <%= f.select :child_id, Child.all.collect {|c| [c.name, c.id]} %>
  </p>
  
  <p>
    <%= f.label :milestone_id %><br />
    <%= f.select :milestone_id, Milestone.all.collect {|m| [m.name, m.id]} %>
  </p>
  
  <p>
    <%= f.label :location_id %><br />
    <%= f.select :location_id, Location.all.collect {|l| [l.description, l.id]} %>
  </p>

  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', statuses_path %>