<h1>Editing milestone_category</h1>

<% form_for(@milestone_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @milestone_category %> |
<%= link_to 'Back', milestone_categories_path %>